.navbar {
    background-image: url(/static/img/backline1.png);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/static/img/background.png);
}
@font-face {
    font-family: CorpRound;
    src: url(/static/fonts/rizumu.ttf);
}
.alter-button {
    text-shadow: 0px 0px 10px white;
    height:60px;
    width:150px;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline:none;
    color: #ffffff;
    font-size: 36px;
    font-family: CorpRound;
}
.alter-button:hover {
    text-decoration: none;
    color: #ffffff;
}
.register-btn{
    font-family: CorpRound;
    position: absolute;
    top: 2pt;
    right: 50pt;
}
.login-btn {
    font-family: CorpRound;
    position: absolute;
    top: 2pt;
    right: 210pt;
}
.logo-button {
    background-image: url(/static/img/rizumu.png);
}
.maps-button {
    position: absolute;
    right: 1130pt;

}
.friend-button {
    position: absolute;
    right: 1018pt;
}

.profile-button {
    position: absolute;
    right: 895pt;
}

h1 {
    padding: 30px 0px 10px 0px;
    text-shadow: 0px 0px 10px white;
    color: #ffffff;
    font-family: CorpRound;
}

p {
    text-shadow: 0px 0px 4px white;
    font-family: CorpRound;
}