{% extends "base.html" %}

{% block content %}
<div>
    <div style="width:300px; float:left">
        <img src="/{{map.image}}" width="280" height="160">
    </div>
    <div style="width:600px; float:left;">
        <h1 style="padding: 0px 0px 0px 0px">{{map.name}} [{{map.version}}]</h1>
        <h5 style="padding: 0px 0px 0px 0px">Исполнитель - {{map.artist}}</h5>
        <h5 style="padding: 0px 0px 0px 0px">Сделана {{map.creator}}</h5>
        <a href="{{map.filename}}.zip" download class="alter-button"> Скачать карту</a>
    </div>
</div>
<div style="width:100%; float:left;">
    <h1>Рекорды</h1>
    {% for play in plays %}
    <p style=" font-size:36px; color:#{{marks_colors[play.mark]}}; padding:0;text-shadow: 0px 0px 10px;">
                <span style="font-size:24px; color:#fff">
                    {{loop.index}} ·
                </span>

        <span style="font-size:18px; color:#fff;padding:10pt 0pt" >
                     Очки: {{play.score}} · Точность: {{play.accuracy}}% · Сыграна игроком <a class="alter-button"
                                                                                              style="font-size: 18px;"
                                                                                              href="/profile/{{play.user.id}}"> {{play.user.name}} · {{play.date.strftime('%Y.%m.%d %H:%M')}} · </a></span>
        <span style="font-size:36px; color:#{{marks_colors[play.mark]}}; ">
            {{play.mark}}
        </span>

    </p>

    {% endfor %}
</div>


{% endblock %}